<div class="foot">
    <footer>
        <p> contact: 7693933991</p>
        <p> g-mail : vanshparadkar00@gmail.com</p>
        <p>© 2025 Vaishnav | All Rights Reserved</p>
        
    </footer>
</div>