<header class="site-header">
    <nav class="navbar container">
        <a href="/" class="logo">MyPortfolio</a>
        <ul class="nav-links">
            <li><a href="/about">About Me</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/certifications">Certifications</a></li>
        </ul>
    </nav>
</header>