<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>certifications</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>


    <%- include("partials/navbar.ejs")%>
        <section id="certifications" class="section container">
            <h2 class="title">📜 Certifications</h2>
            <div class="grid two">
                <div class="card">
                    <h3>Full Stack Web Development</h3>
                    <p class="where">Apna-College — 2025</p>
                    <p><a href="https://www.apnacollege.in/path-player?courseid=delta-6&unit=681c81e906d252012a058bbfUnit">see here</a></p>
                </div>
                <div class="card">
                    <h3>Python</h3>
                    <p class="where">Coursera — 2025</p>
                    <p><a href="https://www.coursera.org/account/accomplishments/verify/JBL4NRQORUMQ">see here</a></p>
                </div>
                <div class="card">
                    <h3>SQL</h3>
                    <p class="where">Udemy — 2024</p>
                    <p><a href="https://www.udemy.com/certificate/UC-f7f8bbe6-85ca-4e8e-86be-6b0ef177702e/">see here</a>
                    </p>
                </div>

            </div>
        </section>

        <%- include("partials/footer.ejs")%>


</body>

</html>