<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="/style.css">


</head>

<body>

    <%- include("partials/navbar.ejs")%>

        <section id="education" class="section container">
            <h2 class="title">🎓 Education</h2>
            <div class="timeline">
                <div class="item">
                    <h3>   Bachelor of Technology</h3>
                    <div class="where">IPS academy — 2022-2026</div>
                    <p>Specialized in Web Development, Data Structures, and Algorithms</p>
                </div>

            </div>
        </section>

        <%- include("partials/footer.ejs")%>

</body>

</html>