<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <%- include("partials/navbar.ejs")%>


        <section id="skills" class="section container">
            <h2 class="title">🛠️ Skills</h2>
            <div class="grid two">
                 <div>
                    <p>C/C++</p>
                    <div class="skill-bar"><i style="width:95%"></i></div>
                </div>
                
                 <div>
                    <p>java</p>
                    <div class="skill-bar"><i style="width:60%"></i></div>
                </div>
                 <div>
                    <p>Python</p>
                    <div class="skill-bar"><i style="width:40%"></i></div>
                </div>
                <div>
                    <p>HTML & CSS</p>
                    <div class="skill-bar"><i style="width:90%"></i></div>
                </div>
                <div>
                    <p>JavaScript</p>
                    <div class="skill-bar"><i style="width:80%"></i></div>
                </div>
                <div>
                    <p>React.js</p>
                    <div class="skill-bar"><i style="width:30%"></i></div>
                </div>
                <div>
                    <p>Node.js</p>
                    <div class="skill-bar"><i style="width:50%"></i></div>
                </div>
                                <div>
                    <p>Data Structures </p>
                    <div class="skill-bar"><i style="width:80%"></i></div>
                </div>
                                <div>
                    <p>Algorithms</p>
                    <div class="skill-bar"><i style="width:70%"></i></div>
                </div>
                                <div>
                    <p>Object Oriented Programming</p>
                    <div class="skill-bar"><i style="width:90%"></i></div>
                </div>
            </div>
        </section>

        <%- include("partials/footer.ejs")%>


</body>

</html>